.h1 {
    color: white;
}



.body{
  background-color: rbg(50,13,6);
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: 60px 100px;
grid-gap: 5px;
background-color: #2196F3;
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}